---
import PreviewCard from "../components/PreviewCard.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allProjects = Object.values(
  import.meta.glob("./projects/*.md", { eager: true })
);
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <Section
    title="All projects"
    description="Découvrez tous mes projets récents."
  >
    <div class="grid grid-cols-2 gap-4 mt-8">
      {
        allProjects.map((post: any) => (
          <PreviewCard
            link={post.url}
            previewImage={post.frontmatter.image}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            date={post.frontmatter.pubDate}
            tag={post.frontmatter.tags[0]}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
