---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import PreviewCard from "../components/PreviewCard.astro";
const allPosts = Object.values(
  import.meta.glob("./projects/posts/*.md", { eager: true })
);
const pageTitle = "Projects";

// Extract unique tags from allPosts
const uniqueTags = Array.from(
  new Set(
    allPosts
      .map((post: any) => post.frontmatter.projectCategory.toLowerCase() || [])
      .flat()
  )
);

const { url } = Astro.request;
function isActive(path: string) {
  const currentUrl = new URL(url, Astro.site || "http://localhost");
  return currentUrl.pathname === path;
}
---

<BaseLayout pageTitle={pageTitle}>
  <Section
    title="All projects posts"
    description="Découvrez tous mes articles de projets récents."
  >
    <nav class="mt-8 space-x-2">
      <a
        href="/projects"
        class={`btn btn-sm font-bold text-sm ${isActive("/projects") ? "btn-primary" : ""}`}
        >All</a
      >
      {
        uniqueTags.map((tag) => (
          <a
            href={`/projects/${tag}`}
            class={`btn btn-sm font-bold text-sm ${isActive(`/projects/${tag}`) ? "btn-primary" : ""}`}
          >
            {tag.charAt(0).toUpperCase() + tag.slice(1)}
          </a>
        ))
      }
    </nav>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
      {
        allPosts.map((post: any) => (
          <PreviewCard
            link={post.url}
            previewImage={post.frontmatter.image}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            date={post.frontmatter.pubDate}
            category={post.frontmatter.projectCategory}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
