---
import PreviewCardSmall from "../components/PreviewCardSmall.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allTestimonials = Object.values(
  import.meta.glob("./testimonials/*.md", { eager: true })
);
const pageTitle = "Testimonials";
---

<BaseLayout pageTitle={pageTitle}>
  <Section
    title="What People Are Saying"
    description="Read real feedback from people about their experiences working with me"
  >
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
      {
        allTestimonials.map((testimonal: any) => (
          <PreviewCardSmall
            link={testimonal.url}
            avatar={testimonal.frontmatter.avatar}
            author={testimonal.frontmatter.author}
            company={testimonal.frontmatter.company}
            message={testimonal.frontmatter.messagePreview}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
