---
const { link, avatar, author, company, message } = Astro.props;
---

<a href={link}>
  <article
    class="p-2 bg-base-200 rounded-lg flex space-x-2 drop-shadow-lg border border-base-300"
  >
    <div class="h-12 w-12 aspect-square">
      <img
        class="rounded-lg object-center object-cover h-full w-full"
        src={avatar.url}
        alt={avatar.alt || "Project image"}
        loading="lazy"
        decoding="async"
        style="image-rendering: auto;"
      />
    </div>

    <div class="self-start flex flex-col h-full">
      <h3 class="text-sm font-semibold leading-none">
        {author}
        <span class="badge badge-sm leading-none pl-0">
          @{company}
        </span>
      </h3>

      <div class="space-y-2 flex-1">
        <div class="text-xs text-gray-500 leading-none font-semibold">
          {message}
        </div>
      </div>
    </div>
  </article>
</a>
